button{
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}
.result{
  margin: 10px;
  float: left;
  
}
p{
  text-align: center
}

img{
  width: 200px;
  height: 200px;
  border: solid black 1px
}